body {
    background-color: rgba(150, 100, 0, 0.3);
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: "MedievalSharp", Papyrus, Copperplate, Fantasy;
}

h1 {
    border-bottom: 8px ridge rgb(190, 75, 75);
}

.quote {
    font-style: italic;
}

.source {
    font-weight: 900;
    font-size: 110%;
}

iframe {
    max-width: 80%;
    height: auto;
    aspect-ratio: 16/9;
    border: 15px ridge rgb(190, 75, 75);
}

.main-img {
    max-width: 50%;
    height: auto;
    border: 15px ridge rgb(190, 75, 75);
}

ul, ol {
    list-style-position: inside;
}

.menu li, footer a {
    display: inline-block;
    margin: 10px 40px;
    border: 10px ridge rgb(190, 75, 75);
    padding: 5px;
}

.menu {
    padding-left: 0;
}

.recipe ol, .recipe ul {
    margin-left: -40px;
}